
.three {
  height: 100%;
  left: 0;
  max-width: calc(100vh * 16 / 9);
  max-height: calc(100vw * 9 / 16);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.camera {
  left: 0;
  height: 100%;
  position: absolute;
  max-width: calc(100vh * 16 / 9);
  max-height: calc(100vw * 9 / 16);
  top: 0;
  width: 100%;
  z-index: 1;
}